:root {
    --font-for-code: Menlo, Monaco, Consolas, Courier New, Ubuntu Mono, monospace;
    --em-05: .5em;
}

.code-heading {
    line-height: 1.7;
    display: inline-block;
    padding: .3em 1em .5em;
    font-weight: 600;
    border-radius: .2rem .2rem 0 0;
    font-size: .8em;
    background-color: #fcf0ff;
    border: .02em solid #b58ec1;
    border-bottom: none;
}

pre {
    font-family: var(--font-for-code);
    max-width: 100%;
}

code {
    overflow: auto;
}

.line-numbers {
    border: .02em solid #b58ec1;
    border-radius: 0 .2rem .2rem .2rem;
    overflow: hidden;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.line-numbers-rows {
    background-color: #fff0d5;
    border-right: solid .02rem #b58ec1;
    padding: var(--em-05) .8em var(--em-05) 2em;
    line-height: 1.7em;
}

.line-numbers-rows>span {
    counter-increment: linenumber;
    display: block;
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #55565a;
}

.language-java {
    margin: var(--em-05);
    line-height: 1.7em;
}

.function {
    color: #900606;
}

.string {
    color: green;
}

.keyword {
    color: navy;
    font-weight: 600;
}

.bl {
    display: inline-block;
    background-color: transparent;
    border: 1px dashed #f80;
    text-transform: uppercase;
    margin-left: 1.7em;
    padding: 0 2em;
}

.ps mark.bl {
    padding: 3em 2em;
}

pre.lecture-code {
    border: .02em solid #b58ec1;
    border-radius: .2rem;
}

pre.lecture-code code {
    padding: .2em .4em;
}

pre.inline-block {
    display: inline-flex;
}

.text-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.variable,
.method {
    margin-bottom: 1em;
}

.method {
    padding: 2em 3.4em;
}

.method:nth-last-child(2) {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

table:not([width]) {
    width: 100%;
}

table td,
table th {
    border: 1px solid rgba(162, 126, 174, .75);
}

table th {
    color: rgba(0, 0, 0, .9);
    background-color: #fcf0ff;
    padding: .8em .85em .75em;
    line-height: normal;
    text-align: inherit;
}

table td {
    padding: .8em .85em;
    vertical-align: baseline;
}

table td:not([width]) {
    min-width: 5ch;
}

.task-content {
    display: block;
    width: fit-content;
    margin: auto;
    padding: .3em;
    border: 1px solid #ff7337;
    border-color: #faa033;
    border-radius: 0.2em;
}

.requirement {
    font-weight: bold;
    color: rgb(23, 43, 83);
}

mark {
    color: #fff;
    background-color: #faa033;
    border-radius: .1em;
    padding: .1em .3em;
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
mark.red {
    background-color: #ff6c60;
}
mark.green {
    background-color: #41a444;
}
mark.viola {
    background-color: #8175c7;
}
mark.user {
    background-color: #3a5fa5;
}
.viola .keyword {
    color: #fff;
}
.red .keyword {
    color: #fff;
}
.comment {
    color: gray;
}

.lecture-diagram-stages {
    color: #151f33;
    box-sizing: border-box;
    overflow: auto;
    max-width: 100%;
    font-family: Menlo, Monaco, Consolas, Courier New, Ubuntu Mono, monospace;
    margin: auto;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lecture-diagram-stages__list {
    text-align: left;
    overflow-wrap: break-word;
    line-height: 1.7;
    color: #151f33;
    box-sizing: border-box;
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.lecture-diagram-stages__item {
    overflow-wrap: break-word;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 1.25em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    border: 2px solid;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 17%;
    font-size: .85em;
    width: auto;
    color: rgba(23, 43, 83, .9);
    border-color: #f80;
}

.lecture-diagram-stages__item--transition {
    overflow-wrap: break-word;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: .85em;
    width: auto;
    flex-basis: 17%;
    min-height: 0;
    line-height: 1.5;
    border: 0;
    transition: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em .95em .5em 1.1em;
    color: #871dc1;
    text-shadow: 1px 1px 0 hsla(0, 0%, 100%, .5);
}

.lecture-diagram-stages__arrow {
    font-size: .85em;
    box-sizing: border-box;
    position: relative;
    min-width: 80px;
    padding: 1em 1.8em 1em .875em;
}
.lecture-diagram-stages__arrow::before {
    content: "";
    background: #e8d4f3;
    right: 1.7em;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}
.lecture-diagram-stages__arrow::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 60' preserveAspectRatio='none'%3E%3Cpolygon fill='%23e8d4f3' points='30 30 0 60 1.12221545e-14 0'/%3E%3C/svg%3E");
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1.7em;
}
