body {
    color: rgb(21, 31, 51);
    box-sizing: border-box;
    font: normal 16px/27px Arial, Helvetica, sans-serif;
    text-align: start;
}

footer {
    display: flex;
    flex-flow: row wrap;
}

article {
    max-width: 800px;
    margin: auto;
}

footer a:last-child {
    margin-left: auto;
}

p {
    margin-block-end: 0;
}

img {
    max-width: 100%;
}
